<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>z77z后台管理系统 - 内容页</title>
<link href="../../static/css/content-base.css" rel="stylesheet" />
<!--<link href="../../static/css/jqgrid/ui.jqgrid.css" rel="stylesheet" />-->
	<!-- jqGrid组件基础样式包-必要 -->
	<link rel="stylesheet" href="../../static/jqgrid/css/ui.jqgrid.css" />

	<!-- jqGrid主题包-非必要 -->
	<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
	<link rel="stylesheet" href="../../static/jqgrid/css/css/redmond/jquery-ui-1.8.16.custom.css" />

	<!-- jquery插件包-必要 -->
	<!-- 这个是所有jquery插件的基础，首先第一个引入 -->
	<script type="text/javascript" src="../../static/js/jquery-1.7.1.js"></script>

	<!-- jqGrid插件包-必要 -->
	<script type="text/javascript" src="../../static/jqgrid/js/jquery.jqGrid.src.js"></script>

	<!-- jqGrid插件的多语言包-非必要 -->
	<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
	<script type="text/javascript" src="../../static/jqgrid/js/i18n/grid.locale-cn.js"></script>
	<title>http://blog.mn886.net/jqGrid</title>

	<!-- 本页面初始化用到的js包，创建jqGrid的代码就在里面 -->
	<script type="text/javascript" src="../../static/js/index.js"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>用户管理</h5>
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-group">
					<button id="btnAdd" type="button" class="btn btn-primary "
						onclick="addModel()">
						<i class="fa fa-plus"></i>&nbsp;添加
					</button>
					<button id="btnEdit" type="button" class="btn btn-info "
						onclick="editModel()">
						<i class="fa fa-pencil"></i> 编辑
					</button>
					<button id="btnDel" type="button" class="btn btn-danger "
						onclick="delData()">
						<i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
					</button>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input id="txtSearchKey" type="text" class="input form-control"
							placeholder="搜索关键字" /> <span class="input-group-btn">
							<button id="btnSearch" class="btn btn btn-primary" type="button">
								<i class="fa fa-search"></i> 搜索
							</button>
						</span>
					</div>
				</div>

				<div class="jqGrid_wrapper">
					<table id="table_list"></table>
					<div id="pager_list"></div>
				</div>
			</div>
		</div>
	</div>



	<script src="../../static/js/content/base.js"></script>
	<!--<script src="../../static/js/index.js"></script>-->
	<script src="../../static/js/content/list.js"></script>

	<script>
		function addModel() {
			$("#btnAdd").button("loading");
			window.location.href = "/user/editPage/add";
		}

		function editModel() {//编辑
			var row = JucheapGrid.GetData();
			if (row != null) {
				$("#btnEdit").button("loading");
				window.location.href = "/user/editPage/" + row.id;
			} else {
				parent.layer.alert("请选择要编辑的数据");
			}
		}

		function delData() {//删除
			XPage.DelData("/user/delete");
		}

		function searchData() {//搜索
			var json = {
				keywords : $("#txtSearchKey").val()
			};
			XPage.Search(json);
		}
		// $(document).ready(function() {
		// 	var config = {
		// 		title : '用户列表',
		// 		url : '/user/getUserListWithPager',
		// 		colNames : [ '主键', '用户名称', '邮箱', '创建时间', '是否有效'],
		// 		colModel : [ {
		// 			name : 'id',
		// 			index : 'id',
		// 			width : 100,
		// 			key : true
		// 			// hidden : true
		// 		}, {
		// 			name : 'nickname',
		// 			index : 'nickname',
		// 			width : 100,
		// 		}, {
		// 			name : 'email',
		// 			index : 'email',
		// 			width : 100,
		// 		}, {
		// 			name : 'createTime',
		// 			index : 'createTime',
		// 			formatter : formatDate,
		// 			width : 100,
		// 		}, {
		// 			name : 'status',
		// 			index : 'status',
		// 			formatter : formatStatus,
		// 			width : 100,
		// 		} ],
         //        jsonReader : {
		// 		    root : "list",
		// 			total : "pages",
         //            records : "total",
		// 			page : "pageNum",
         //            rowNum : "pageSize"
         //            // cell: "cell",
         //            // id: "id",
         //            // subgrid: {
		// 		     //    root:"rows",
         //            //
         //            //     repeatitems: true,
         //            //
         //            //     cell:"cell"
         //            //
         //            // }
        //
         //        },
        //
         //        onPaging : function(){
         //            console.log(JucheapGrid);
         //        }
         //    };
		// 	JucheapGrid.Load(config);
		// 	$("#btnSearch").bind("click", searchData);
		// });
		//
		if('${edit}'=='false'){
			parent.layer.msg('保存失败，请重试！', { icon: 5, anim:6 ,offset: 't'});  
		}
		if('${edit}'=='true'){
			parent.layer.msg('保存成功！', { icon: 6, anim:6 ,offset: 't'});  
		}
	</script>
</body>
</html>

