<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li class="feed" data-tid="fe54a74e406e145bc11f0400" data-uin="1319589118" data-seed="item-1" data-like-handled="1"
    data-img-load="load" data-comment-load="load">
    <div class="private_hd private_show none">
        <div class="private_bg"></div>
    </div>
    <div class="avatar"><a href="http://user.qzone.qq.com/1319589118" onclick="return false;" class="goProfile"
                           profileuin="1319589118" title="安石(1319589118)"><span class="skin_portrait_round"></span><img
            data-src="http://qlogo3.store.qq.com/qzone/1319589118/1319589118/100?1521823152"
            src="http://qlogo3.store.qq.com/qzone/1319589118/1319589118/100?1521823152" class="" alt="安石(1319589118)"
            height="100"></a></div>
    <div class="box bgr3">
        <div class="arr bor3">
            <div class="bor_bg3"></div>
        </div>
        <div class="bd"><a href="http://user.qzone.qq.com/1319589118/mood" onclick="return false;"
                           class="qz_311_author c_tx nickname goProfile" profileuin="1319589118" profilepft="1"
                           data-uin="1319589118">安石</a>
            <pre style="display:inline;" class="content">清晨
捧一本书
静静坐在窗前
等阳光攀上窗台
感受着自然赐予的一万勒克斯的光
书上简单的情话也成了哲
突然巨大的转动惯量拉斜了太阳
玻璃的一角反射出的刺眼的光
生生打碎幻想
你的面前只是一块屏幕啊</pre>
            <span>......</span>
            <div class="f_toggle"><a href="javascript:void(0);" onclick="return false;" class="has_more_con ">展开查看全文</a>
            </div>
        </div>
        <div class="md">
            <div class="md_op none" data-extend=""><a href="#fold" class="md_unfold  js_collapse" data-tips=""
                                                      data-topmedia=""> 查看详情<i class="ico_arr"><b></b></i></a></div>
        </div>
        <div class="ft">
            <div class="info"><span class="c_tx3"><a class="c_tx c_tx3 goDetail" title="2018年6月4日 6:40"
                                                     href="http://user.qzone.qq.com/1319589118/mood/fe54a74e406e145bc11f0400.1">昨天6:40</a></span>
            </div>
            <div class="op"><a href="javascript:void(0);" class="c_tx none">赞</a><span
                    id="like_btn_fe54a74e406e145bc11f0400" __ugclikebtnid="103" data-handled="1"><span
                    style="overflow: hidden; zoom: 1; margin: 0px;"><a href="javascript:;" class="qz_like_btn c_tx mr8"
                                                                       style="display: none;"></a><a href="javascript:;"
                                                                                                     class="qz_like_btn c_tx mr8"
                                                                                                     _origtemp="赞{cnt}"
                                                                                                     style="display: inline-block;">赞(39)</a><a
                    href="javascript:;" class="qz_like_btn c_tx mr8" style="display: none;">取消赞</a><a
                    href="javascript:;" class="qz_like_btn c_tx mr8" style="display: none;">取消赞</a></span></span><a
                    href="http://user.qzone.qq.com/1319589118/mood/fe54a74e406e145bc11f0400.1" class="c_tx comment_btn"
                    target="_blank" onclick="return false;"
                    id="comment_btn_1319589118_fe54a74e406e145bc11f0400_1">评论(1)</a>
                <a href="http://user.qzone.qq.com/1319589118/mood/fe54a74e406e145bc11f0400.1" class="c_tx forward_btn"
                   target="_blank" onclick="return false;" id="forward_btn_1319589118_fe54a74e406e145bc11f0400_1">转发</a>
                <div class="dropdown more-edit-items"><a href="javascript:void(0);" class="dropdown-trigger c_tx"
                                                         id="dLabel_fe54a74e406e145bc11f0400" data-toggle="dropdown"
                                                         aria-haspopup="ture" aria-expanded="true">更多<i
                        class="ui_trig ui_trig_b"></i></a>
                    <div class="dropdown-menu menu-item-list bor2 bg" role="menu"
                         aria-labelledby="dLabel_fe54a74e406e145bc11f0400" aria-hidden="false">
                        <ul role="presentation">
                            <li><a href="javascript:void(0);" class="edit_btn author_display" role="menuitem">编辑</a>
                            </li>
                            <li class="add_favorite_container need_bg2"><a href="javascript:;" data-template="0"
                                                                           class="c_tx app-favorite-button app-favorite-button-add add-favorite-button-noneicon"><span
                                    class="text-add">收藏</span><span class="text-cancel">已收藏</span></a></li>
                            <li><a href="javascript:void(0);" class="goDetail" role="menuitem">详情</a></li>
                            <li><a href="javascript:void(0);" class="del del_btn author_display" role="menuitem">删除</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_extra bor3 ">
            <div class="box_extra_arr bor3">
                <div class="bor_bg3"></div>
            </div>
            <div class="feed_like" id="feed_like_fe54a74e406e145bc11f0400" style=""><i
                    class="ui_ico icon_hand ui_ico_f qz_like_hand hand"></i><!--if--><!--if--><a
                    href="http://user.qzone.qq.com/375975831" target="_blank" class="c_tx" title=""></a>、&nbsp;<a
                    href="http://user.qzone.qq.com/463347848" target="_blank" class="c_tx" title=""></a><!--if-->&nbsp;等<a
                    href="javascript:void(0);"
                    onclick="QZONE.FP.getLikeList('http://user.qzone.qq.com/1319589118/mood/fe54a74e406e145bc11f0400.1');MOOD.sendEvent('clickLikePeopleNum');return false;"
                    class="c_tx">39人</a>觉得很赞
            </div><!-- 评论区 -->
            <div class="mod_comment">
                <div class="mod_comments">
                    <div class="comments_list">
                        <div class="comments_list_more" style="display: none;"><a class="c_tx"
                                                                                  href="http://user.qzone.qq.com/1319589118/mood/1319589118_fe54a74e406e145bc11f0400.">查看全部<span>1</span>条评论<span>&gt;&gt;</span></a>
                        </div>
                        <div class="comments_list_more" style="display: none;"><i class="ui_ico ico_expanding"></i>正在展示更多评论...
                        </div>
                        <ul>
                            <li class="comments_item bor3">
                                <div class="comments_item_bd">
                                    <div>
                                        <div class="ui_avatar"><a href="http://user.qzone.qq.com/2945390586/mood/"
                                                                  target="_self"><img
                                                src="http://qlogo3.store.qq.com/qzone/2945390586/2945390586/50"></a>
                                        </div>
                                        <div class="comments_content"><a class="nickname"
                                                                         href="http://user.qzone.qq.com/2945390586/mood/"
                                                                         target="_self">张敏捷</a><span
                                                class="private-txt"></span><span style="display: none;"> 回复 <a
                                                class="nickname" href="#" target="_self">undefined</a></span> : <span>一大堆的学术突然转换了角度</span>
                                            <div class="none">
                                                <div></div>
                                            </div>
                                            <div class="comments_op"><span class="c_tx3 ui_mr10">昨天8:18</span><span
                                                    class="c_tx3 ui_mr10" style="display: none;">undefined</span><a
                                                    href="javascript:void(0);" class="mod_comment_reply c_tx"
                                                    commentboxid="da099cdd-f1b3-8bd4-e131-13446ead6fd2">回复</a><a
                                                    href="javascript:void(0);" class="c_tx"
                                                    style="display: none;">置顶</a><a href="javascript:;"
                                                                                    class="c_tx mod_comment_del"
                                                                                    style="display: none;">删除</a><a
                                                    href="javascript:;" class="c_tx mod_comment_report"
                                                    style="display: none;">举报</a></div>
                                        </div>
                                    </div>
                                    <div class="mod_comments_sub" style="padding: 0px;">
                                        <ol style="display: none;"></ol>
                                    </div>
                                    <div style="display: none;">
                                        <div class="comment-box-wrap">
                                            <div class="qz-poster bg qz-poster-show-setter">
                                                <div class="qz-poster-inner ">
                                                    <div class="qz-poster-top none"></div>
                                                    <div class="qz-poster-bd">
                                                        <div class="qz-poster-editor-cont"
                                                             id="qz_poster_v4_editor_container_5">
                                                            <div class="qz-inputer bor2" data-version="20130625"
                                                                 style="padding-right:0">
                                                                <div idprefix="$5">
                                                                    <div x:id="content_content" spellcheck="false"
                                                                         x:idprefix="content"
                                                                         class="textinput textarea c_tx2"
                                                                         contenteditable="true" accesskey="q" style=""
                                                                         id="$5_content_content"
                                                                         idprefix="$5_content"></div>
                                                                    <div x:id="substitutor_content"
                                                                         x:idprefix="substitutor"
                                                                         class="textinput textarea c_tx3"
                                                                         contenteditable="true" tabindex="0"
                                                                         accesskey="q" id="$5_substitutor_content"
                                                                         idprefix="$5_substitutor"
                                                                         style="position: absolute; display: none;"></div>
                                                                    <div x:id="tips" class="mod_at_wrap"
                                                                         style="display:none;" id="$5_tips">
                                                                        <div class="mod_at bg bor2">
                                                                            <div class="mod_at_list">
                                                                                <div x:id="tips_content"
                                                                                     class="mod_at_tips c_tx3 bg3"
                                                                                     id="$5_tips_content">正在加载中...
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div x:id="options" id="$5_options"></div>
                                                                </div>
                                                            </div>
                                                            <div aria-hidden="true" class="qz-poster-attach-side"
                                                                 style="display:none">                <!-- attach -->
                                                                <div class="attach">
                                                                    <div class="item bor3 bg4 item-pic  evt_hover "
                                                                         data-hottag="attachbar.pic"
                                                                         style="display:none"><a
                                                                            href="javascript:void(0);"
                                                                            onclick="return false;" class="pic"><i
                                                                            class="icon icon-pic"></i><span class="txt">照片</span></a>
                                                                    </div>
                                                                    <div class="item bor3 bg4 item-other"
                                                                         style="display:none"><a
                                                                            href="javascript:void(0);"
                                                                            onclick="return false;" class="other"><i
                                                                            class="icon icon-other"></i><span
                                                                            class="txt">其他</span></a></div>
                                                                </div>                <!-- attach -->
                                                                <div class="img-upload-drop cell-0 the_worlds_end"
                                                                     style="display:none">
                                                                    <div class="pop-drop bg4 bor2">
                                                                        <div class="arr"><b class="in bor2"></b><b
                                                                                class="out bor_bg"></b></div><!-- 箭头 -->
                                                                        <ul class="list">
                                                                            <li class="bor3 evt_click evt_hover qz_poster_btn_local_pic none"
                                                                                data-hottag="ATTACHBAR.PIC_FROM_LOCAL">
                                                                                <a href="javascript:void(0);"
                                                                                   class="c_tx3"
                                                                                   onclick="return false;"> <i
                                                                                        class="icon icon-from-cmp"></i><span
                                                                                        class="txt">本地</span></a></li>
                                                                            <li class="bor3 evt_click evt_hover  qz_poster_btn_album_select none"
                                                                                data-hottag="ATTACHBAR.PIC_FROM_ALBUM">
                                                                                <!-- hover 加bg2 --> <a
                                                                                    href="javascript:void(0);"
                                                                                    class="111 c_tx3"
                                                                                    onclick="return false;"> <i
                                                                                    class="icon icon-video"></i><span
                                                                                    class="txt">相册</span> </a></li>
                                                                            <li class="bor3 evt_click evt_hover qz_poster_btn_screen_capture none"
                                                                                data-hottag="ATTACHBAR.SCREENCAPTURE">
                                                                                <!-- hover 加bg2 --> <a
                                                                                    href="javascript:void(0);"
                                                                                    class="c_tx3"
                                                                                    onclick="return false;"> <i
                                                                                    class="icon icon-shot"></i><span
                                                                                    class="txt">截屏</span> </a></li>
                                                                        </ul>
                                                                    </div><!-- drop -->                </div>
                                                                <div class="other-attach-drop cell-0 none"
                                                                     style="display:none">
                                                                    <div class="pop-drop bg4 bor2">
                                                                        <div class="arr bg4"><b class="in bor2"></b><b
                                                                                class="out bor_bg"></b></div><!-- 箭头 -->
                                                                        <ul class="list">
                                                                            <li class="evt_click evt_hover bor3"
                                                                                data-hottag="ATTACHBAR.MUSIC"><a
                                                                                    href="javascript:void(0)"
                                                                                    class="c_tx3"
                                                                                    onclick="return false"><i
                                                                                    class="icon icon-music"></i><span
                                                                                    class="txt">音乐</span> </a></li>
                                                                            <li class="evt_click evt_hover bor3"
                                                                                data-hottag="ATTACHBAR.VIDEO"><a
                                                                                    href="javascript:void(0)"
                                                                                    class="c_tx3"
                                                                                    onclick="return false"><i
                                                                                    class="icon icon-video"></i><span
                                                                                    class="txt">视频</span></a></li>
                                                                            <li class="evt_click evt_hover bor3 none"
                                                                                data-hottag="ATTACHBAR.FILE"><a
                                                                                    href="javascript:void(0)"
                                                                                    class="c_tx3"
                                                                                    onclick="return false"><i
                                                                                    class="icon icon-attach"></i><span
                                                                                    class="txt">附件</span></a></li>
                                                                        </ul>
                                                                    </div><!-- drop -->                </div>
                                                                <!-- other-drop -->            </div>
                                                            <!-- attach-side -->
                                                            <div class="qz-poster-status-holder"
                                                                 id="qz_poster_v4_resource_container_4">
                                                                <div class="qz-poster-status bor2"
                                                                     style="display: none;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="qz-poster-msg none"></div>
                                                    </div>
                                                    <div class="qz-poster-mid none"></div>
                                                    <div class="qz-poster-ft">
                                                        <div class="qz-poster-attach">
                                                            <div class="qzaddons"><a class="emot c_tx3"
                                                                                     href="javascript:void(0);"
                                                                                     title="插入表情"><i
                                                                    class="icon icon-emot"></i><i
                                                                    class="icon-red-dot"></i><i></i></a><a
                                                                    class="at c_tx3 evt_click"
                                                                    href="javascript:void(0);" title="提到好友"
                                                                    data-hottag="attachbar.at"><i
                                                                    class="icon icon-at"></i><span></span></a></div>
                                                            <div class="qzappwrap"></div>
                                                        </div>
                                                        <div class="qz-poster-sync">
                                                            <div class="sync-nuts" style="display:none;"><a
                                                                    class="sync-qq evt_click" role="checkbox"
                                                                    aria-checked="false" aria-disabled="false"
                                                                    data-hottag="moodposter.syncqq"
                                                                    href="javascript:void(0);" onclick="return false;"
                                                                    title="同步至QQ签名" style="display:none"><i
                                                                    class="icon icon-qq"></i></a><a
                                                                    class="retweet-it evt_click" role="checkbox"
                                                                    aria-checked="false" aria-disabled="false"
                                                                    data-hottag="moodposter.retweetit"
                                                                    onclick="return false;" href="javascript:void(0);"
                                                                    title="同时转发" style="display:none"><i
                                                                    class="icon icon-retweet"></i></a><a
                                                                    class="sync-weibo evt_click" role="checkbox"
                                                                    aria-checked="false" aria-disabled="false"
                                                                    data-hottag="moodposter.syncweibo"
                                                                    href="javascript:void(0)" onclick="return false;"
                                                                    title="同步至腾讯微博" style="display:none"><i
                                                                    class="icon icon-weibo"></i></a><span
                                                                    class="dividor" style="display:none">|</span><span
                                                                    class="ui-checkbox ui-checkbox-tint js-private-comment"
                                                                    title="" style="display:none"><input type="checkbox"
                                                                                                         data-hottag="moodposter.private"
                                                                                                         class="evt_click"
                                                                                                         id="private_checkbox_5"><label
                                                                    for="private_checkbox_5">私密评论<i
                                                                    class="ui-icon icon-diamond"></i></label></span><a
                                                                    class="sync-timing evt_click" role="checkbox"
                                                                    aria-checked="false" aria-disabled="false"
                                                                    data-hottag="moodposter.timer"
                                                                    href="javascript:void(0);" onclick="return false;"
                                                                    title="发表为定时说说" style="display:none"><i
                                                                    class="icon icon-timing"></i><span
                                                                    class="txt">定时说说</span></a>
                                                                <div class="set-audience"
                                                                     data-hottag="moodposter.secret"
                                                                     style="display:none"><span
                                                                        class="dividor c_tx3">|</span><span
                                                                        class="private-label c_tx3">可见范围：</span><a
                                                                        href="javascript:void(0);"
                                                                        class="audience c_tx3" role="button"
                                                                        aria-haspop="true"><span class="text-place">所有人可见</span><b
                                                                        class="ui_trigbox ui_trigbox_b"><b
                                                                        class="ui_trig c_tx3"></b><b
                                                                        class="ui_trig ui_trig_up bor_bg"></b></b></a>
                                                                </div>
                                                            </div>
                                                            <div class="set-audience-drop none"></div>
                                                            <div class="sync-timing-drop none" style="right:106px;">
                                                                <div class="pop-drop bg bor2">
                                                                    <div class="arr"><b class="in bor2"></b><b
                                                                            class="out bor_bg"></b></div>
                                                                    <ul class="list">
                                                                        <li class="bg5_hover"><a
                                                                                href="javascript:void(0)"
                                                                                onclick="return false;"
                                                                                class="evt_click c_tx2"
                                                                                data-hottag="moodposter.selectPublishTime">设置发布时间</a>
                                                                        </li>
                                                                        <li class="bg5_hover"><a
                                                                                href="javascript:void(0)"
                                                                                onclick="return false;"
                                                                                class="evt_click c_tx2"
                                                                                data-hottag="moodposter.mytimershuoshuo">我的定时列表</a>
                                                                        </li>
                                                                        <li class="bg5_hover cancel-timer none"><a
                                                                                href="javascript:void(0)"
                                                                                onclick="return false;"
                                                                                class="evt_click c_tx2"
                                                                                data-hottag="moodposter.canceltimer">取消本条定时说说</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="sync-ex-drop"></div>
                                                        </div>
                                                        <div class="mod-say-authority none"></div>
                                                        <div class="op"><a href="javascript:void(0)"
                                                                           onclick="return false;"
                                                                           class="btn-dismiss-post bgr2 c_tx2 evt_click none"
                                                                           data-hottag="MOODPOSTER.CANCEL"><span
                                                                class="txt">取消</span></a><a href="javascript:void(0)"
                                                                                            onclick="return false;"
                                                                                            class="btn-post gb_bt  evt_click"
                                                                                            data-hottag="MOODPOSTER.POST"><i
                                                                class="icon icon-loading"></i><span
                                                                class="txt">发表</span></a></div>
                                                        <div class="qz-poster-wall-con"></div>
                                                        <div class="tmp-sync-list"></div>
                                                    </div>
                                                    <div class="qz-poster-bottom">
                                                        <div class="qz-poster-bottom-ext-top none"></div>
                                                        <div class="attachbar-holder the_worlds_end">
                                                            <div class="qz-poster-attach-nobtn">
                                                                <div class="qzaddons none"><a class="at c_tx3"
                                                                                              href="javascript:void(0);"
                                                                                              title="选择用户"><i
                                                                        class="icon icon-at">@</i><i
                                                                        class="icon-red-dot none"></i></a><a
                                                                        class="pic c_tx3" href="javascript:void(0);"
                                                                        title="插入图片"><i class="icon icon-pic"></i><i
                                                                        class="icon-red-dot none"></i></a><a
                                                                        class="music c_tx3" href="javascript:void(0);"
                                                                        title="插入音乐"><i class="icon icon-music">undefined</i><i
                                                                        class="icon-red-dot none"></i>音乐<span></span></a><a
                                                                        class="video c_tx3" href="javascript:void(0);"
                                                                        title="插入视频"><i class="icon icon-video">undefined</i><i
                                                                        class="icon-red-dot none"></i>视频</a><a
                                                                        class="file c_tx3" href="javascript:void(0);"
                                                                        title="添加附件"><i
                                                                        class="icon icon-file">undefined</i><i
                                                                        class="icon-red-dot none"></i>附件</a><a
                                                                        class="template c_tx3"
                                                                        href="javascript:void(0);" title="套用模板"><i
                                                                        class="icon icon-template">undefined</i><i
                                                                        class="icon-red-dot none"></i>模板<span></span></a>
                                                                </div>
                                                                <div class="qzappwrap"></div>
                                                            </div>
                                                        </div>
                                                        <div class="qz-poster-status-holder the_worlds_end"></div>
                                                        <div class="qz-poster-bottom-ext none"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mod_comment_poster_wrapper " commentboxid="6e519246-d145-4350-7673-089265e95f5c">
                    <div class="mod_commnets_poster mod_comments_poster_noavatar mod_commnets_poster_trigger">
                        <div class="comments_poster_bd comments_poster_default">
                            <div class="comments_box">
                                <div class="textinput textinput_default bor2" placeholder="我也说一句"><a class="c_tx3"
                                                                                                     href="javascript:void(0);">我也说一句</a>
                                </div>
                                <div class="mod-insert-img bor2 "><a href="javascript:void(0)"
                                                                     class="btn-insert-img bg"><i
                                        class="icon-camera-16"></i></a></div>
                                <div class="mod-quick-comment bor2"><a href="javascript:;" class="btn-quick-comment bg"><i
                                        class="icon-flash"></i><span class="flash-text c_tx3">快评</span></a><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box_shadow">
        <div class="shadow_left"></div>
        <div class="shadow_right"></div>
    </div>
</li>
</body>
</html>