<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Redis监控</title>
<link href="../static/css/content-base.css"
	rel="stylesheet" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Redis 内存实时占用情况：</h5>
					</div>
					<div class="ibox-content">
						<div id="container"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Redis key的实时数量：</h5>
					</div>
					<div class="ibox-content">
						<div id="keysChart"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Redis INFO：</h5>
					</div>
					<div class="ibox-content">
						<table class="table table-condensed table-hover"
							style="word-break: break-all; word-wrap: break-all;">
							<tbody>
							<div th:each="info:${infoList}">
								<tr>
									<td th:title="${info.key}+${info.desctiption }" th:text="${info.key}"></td>
									<td th:text="${info.desctiption }"></td>
									<td th:text="${info.value}"></td>
								</tr>
							</div>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5 th:text="Redis实时日志(共+${logLen}+条)：">Redis实时日志(共0条)：</h5>
						<div class="ibox-tools">
							<button type="button" onclick="empty();"
								class="btn btn-warning btn-xs">清空日志</button>
						</div>
					</div>
					<div class="ibox-content">
						<table class="table table-condensed table-hover">
							<tbody th:each="log:${logList}">
									<tr>
										<td th:text="${log.id }"></td>
										<td th:text="${log.executeTime }"></td>
										<td th:text="${log.usedTime }"></td>
										<td><p style="width: 600px; word-wrap: break-word; word-break: normal;" th:text="${log.args }"></p></td>
									</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/redischarts/highcharts.js"></script>
<script src="../static/js/redischarts/index.js"></script>
</html>

