<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.qy.model.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_number" jdbcType="INTEGER" property="user_number" />
    <result column="socket_uuid" jdbcType="VARCHAR" property="socket_uuid" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="chating_id" jdbcType="INTEGER" property="chating_id" />
    <result column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="variable" jdbcType="BIGINT" property="variable" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="question_number" jdbcType="INTEGER" property="question_number" />
    <result column="answer_number" jdbcType="INTEGER" property="answer_number" />
    <result column="fans_number" jdbcType="INTEGER" property="fans_number" />
    <result column="focus_number" jdbcType="INTEGER" property="focus_number" />
    <result column="collection_number" jdbcType="INTEGER" property="collection_number" />
    <result column="like_number" jdbcType="INTEGER" property="like_number" />
    <result column="comments_number" jdbcType="INTEGER" property="comments_number" />
    <result column="blessing_number" jdbcType="INTEGER" property="blessing_number" />
    <result column="report_number" jdbcType="INTEGER" property="report_number" />
    <result column="shielded_number" jdbcType="INTEGER" property="shielded_number" />
    <result column="reported_number" jdbcType="INTEGER" property="reported_number" />
    <result column="member_state" jdbcType="INTEGER" property="member_state" />
    <result column="authentication" jdbcType="INTEGER" property="authentication" />
    <result column="authentication_state" jdbcType="INTEGER" property="authentication_state" />
    <result column="ask_answer_state" jdbcType="INTEGER" property="ask_answer_state" />
    <result column="user_state" jdbcType="INTEGER" property="user_state" />
    <result column="hidden_state" jdbcType="INTEGER" property="hidden_state" />
    <result column="personal_weight_number" jdbcType="BIGINT" property="personal_weight_number" />
    <result column="add_time" jdbcType="VARCHAR" property="add_time" />
  </resultMap>

    <!--resultType="com.qy.model.Member"  resultType必须写成完成的model路径 否则打包部署会失败-->
    <select id="findMemberByAccount" resultType="com.qy.model.Member">
        SELECT *
        FROM qy_member
        WHERE account = #{account}
    </select>

    <select id="selectPersonalDynamic" resultType="map">
        SELECT *
        FROM (

                 SELECT
                     q.id,
                     q.question_title,
                     q.add_time,
                     q.reward_price,
                     q.reward_state,
                     q.hidden_state,
                     q.question_describe                                                                content,
                     q.question_picture                                                                 picture,
                     q.reward_end_time,
                     IFNULL((SELECT COLUMN_NAME
                             FROM INFORMATION_SCHEMA.COLUMNS
                             WHERE table_name = 'qy_question' AND COLUMN_NAME = 'content'), "question") query_type
                 FROM qy_question q
                 WHERE q.user_id = #{id} AND q.audit_status = 1

                 UNION

                 SELECT
                     a.id,
                     a.question_title,
                     a.add_time,
                     q.reward_price,
                     q.reward_state,
                     a.hidden_state,
                     a.content                                                                        content,
                     a.answer_picture                                                                 picture,
                     q.reward_end_time,
                     IFNULL((SELECT COLUMN_NAME
                             FROM INFORMATION_SCHEMA.COLUMNS
                             WHERE table_name = 'qy_question' AND COLUMN_NAME = 'content'), "answer") query_type
                 FROM qy_answer a, qy_question q
                 WHERE a.user_id = #{id} AND q.id = a.question_id

             ) s
        ORDER BY s.add_time DESC
    </select>

    <select id="selectOthersDynamic" resultType="map">
        SELECT *
        FROM (

                 SELECT
                     q.id,
                     q.question_title,
                     q.add_time,
                     q.reward_price,
                     q.reward_state,
                     q.question_describe                                                                content,
                     q.question_picture                                                                 picture,
                     q.reward_end_time,
                     IFNULL((SELECT COLUMN_NAME
                             FROM INFORMATION_SCHEMA.COLUMNS
                             WHERE table_name = 'qy_question' AND COLUMN_NAME = 'content'), "question") query_type
                 FROM qy_question q
                 WHERE q.user_id = #{id} AND q.hidden_state = 0 AND q.audit_status = 1 AND q.reward = 0

                 UNION

                 SELECT
                     a.id,
                     a.question_title,
                     a.add_time,
                     q.reward_price,
                     q.reward_state,
                     a.content                                                                        content,
                     a.answer_picture                                                                 picture,
                     q.reward_end_time,
                     IFNULL((SELECT COLUMN_NAME
                             FROM INFORMATION_SCHEMA.COLUMNS
                             WHERE table_name = 'qy_question' AND COLUMN_NAME = 'content'), "answer") query_type
                 FROM qy_answer a, qy_question q
                 WHERE a.user_id = #{id} AND q.id = a.question_id AND a.hidden_state = 0 AND a.anonymous = 1

             ) s
        ORDER BY s.add_time DESC
    </select>

    <select id="selectMemberByAdd_time" resultType="Map">
        select id,add_time from `qy_member`
        <if test="firstAddTime != ''">
            where add_time &gt; #{firstAddTime,jdbcType=VARCHAR}
        </if>
        <if test="lastAddTime != ''">
            where add_time &lt; #{lastAddTime,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>